
:root{
    --background-color: #FDE7E3;
    --primary-color: #000;
    --highlight-color: #C8988F;
}

*{
    font-size: 10px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    font-family: 'Comfortaa';
    line-height: 2;
    padding: 0;
    margin: 0;
}

:-moz-selection{
    background-color: var(--highlight-color);
}
::selection{
    background-color: var(--highlight-color);
}

a{
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  transition: color 0.2s ease-in-out
}

a:hover{
    color: var(--highlight-color);
}

h2, h3{
    font-family: 'Comfortaa';
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

.container{
    width: 1920px;
}

/*  --------------
    |    MENU    |
    --------------  */

.menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0 auto;
    width: 56%;
    align-items: center;
}

.menu > div{
    width: 33%;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu ul li{
    animation-name: opening-logo;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

.menu a{
    font-family: 'Comfortaa';
    font-size: 1.7rem;
}

.menu .logo img{
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

/*  ---------------------
    |    MENU MOBILE    |
    ---------------------  */

.menu-mobile{
    display: none;
}

.menu-mobile a:hover svg{
    fill: var(--highlight-color);
}

.menu-mobile .header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.menu-mobile .header .logo{
    flex-grow: 2;
    text-align: center;
}

.menu-mobile .header .logo img{
    width: 64px;

    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

.menu-mobile ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-mobile ul li{
    text-align: center;
}

.menu-mobile ul li a{
    display: block;
    padding: 10px 0;
}

.menu-mobile-closed{
    display: none;
}

.menu-mobile .search{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/*  ------------------
    |    CAROUSEL    |
    ------------------  */

#carousel{
    align-content: center;
    display:grid;
    background-color: #FDE7E3;
    grid-column: 2/8;
    height: 50vh;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vh;
    margin-right:1vh;
  }
  
.style {
    height: auto;
}
    
.gallery {
    background: #EEE;
}
    
.gallery-cell {
    width: 50%;
    height: 50vh;
    margin-right: 1vh;
    background: rgb(241, 161, 188);
    counter-increment: gallery-cell;
}
    
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 20vh;
    font-size: medium;
    color: white;
}

/*  ---------------
    |    INTRO    |
    ---------------  */

.intro{
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
}

/*  ---------------------
    |    WORK & GRID    |
    ---------------------  */

.work{
    padding-top: 2px;
    transform-origin: 0 0;
    margin-top: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.grid .item{
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

.grid .item img{
    width: 101%;
    margin-top: 0;
    transform: skewY(0deg) scale(1.2,1.2);
    transition: all 0.075s;
}

.grid .item:hover img{
    transform: skewY(4deg) scale(1.4,1.4);
}

.grid .item .bg-hover{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 2;
    top: -25%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.grid .item:hover .bg-hover{
    overflow: hidden;
    opacity: 1;
}

.grid .item:hover .bg-hover .info{
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.grid .item .bg-hover .title{
    color: white;
}
.grid .item .bg-hover .customer{
    color: var(--background-color);
}

/*  ---------------
    |    ABOUT    |
    ---------------  */

.about{
    width: 70%;
    text-align: center;
    padding-top: 3px;
    margin: 70px auto;
    padding-bottom: 40px;
}

.columns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*  -----------------------------
    |    CONTACT & NEWSLETTER   |
    -----------------------------  */

.contact{
    padding-bottom: 10px;
}
    
.contact .row{
    display: flex;
    background: #C8988F;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 40px;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 2.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #C8988F;
    border: none;
    border-radius: 45px;
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    border: none;
    border-radius: 45px;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    color:#C8988F;
    text-transform: none;
    background: #fff;
    border: none;
    border-radius: 45px;
}

.contact .row form .submit-btn input{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#000;
    background: #fff;
    cursor: pointer;
    border-radius: 45px;
    border: none;
}

.contact .row form .submit-btn input:hover{
    background: #FDE7E3;
}

/*  ----------------
    |    FOOTER    |
    ----------------  */

.footer {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 40px;
    color: white;
}

.footer .footer-container {
    color: var(--background-color);
    width: 1280px;
    margin: 0 auto;
}

.footer .footer-container h3 {
    color: white;
}

.footer .footer-container .contact-us {
    text-align: left;
}

.footer .footer-container .contact-us h3 {
    text-align: left;
}

.footer .footer-container .social {
    text-align: center;
}

.footer .footer-container .social a:hover path {
    fill: var(--highlight-color);
}

.footer .footer-container .support{
    text-align: right;
}

.footer .footer-container .support h3{
    text-align: right;
}

/*  ----------------
    |    SCREEN    |
    ----------------  */

#screen{
    background-color:var(--highlight-color);
    position: fixed;
    z-index: 100;
    top: -280px;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all 0.10s;
    animation-timing-function: lineal;
    animation-duration: 2s;
}

#details-container{
    background-color: var(--background-color);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    display: none;
}

#details-container .navigation-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item-hide{
    display: none;
}

#details-container .items{
    width: 60%;
    margin: 0 auto;
}

#details-container .items .item .main-image img{
    width: 100%;
}

#details-container .items .item .title{
    text-align: center;
}

/*  ---------------------------------
    |    KEYFRAMES & BREAKPOINTS    |
    ---------------------------------  */

@keyframes opening-logo{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes bounce{
    0% {transform: translateY(500px);}
    80% {transform: translateY(-30px);}
    100% {transform: translateY(0);}
}

@keyframes fade-in{
    0%{height: 0vh;}
    50%{height: 150vh;}
    100%{height: 0vh;}
}

@media (max-width: 1450px){

    .grid .item{
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 250px;
    }
}

@media (max-width: 1280px){

    .grid{
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .grid .item{
        height: 150px;
    }

    .footer .footer-container{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .footer .footer-container h3{
        text-align: center !important;
    }
    .footer .footer-container .support{
        text-align: center;
    }
}

@media (max-width: 900px){

    .grid .item{
        height: 150px;
    }

    .grid{
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 800px){

    .grid .item{
        height: 150px;
    }

    .grid{
        grid-template-columns: 1fr 1fr; 
    }

    .columns{
        flex-direction: column; 
        gap: 0;
    }

    .columns div{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 540px){

    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
    }

    .grid .item{
        height: 200px;
    }
    .grid{
        grid-template-columns: 1fr; 
    }
}
